auto-save-list/
elpa/
var/
*~
/eshell/
/projectile-bookmarks.eld
/.mc-lists.el
/transient/
.cache
session.*
/.lsp-session-v1
/eln-cache/
/forge-database*
/.extension/
/.dap-breakpoints
/projects
/lisp/local-devel.el
/.cask/
/request/
/tramp
/straight/
/wordfreq-dicts/
/anaconda-mode/
history
undo
places
projectile.cache
recentf
tree-sitter/
/lisp/local-lisp.el
