auto-save-list/
elpa/
var/
*~
/eshell/
/projectile-bookmarks.eld
/.mc-lists.el
/transient/
.cache
session.*
/.lsp-session-v1
/eln-cache/
/forge-database.sqlite
/.extension/
/.dap-breakpoints
/projects
/lisp/local-devel.el
/.cask/
/request/
/tramp
/straight/
